
body {
    font-family: Arial, sans-serif;
    background-color: #f5eee6;
    margin: 0;
    color: #3e2723;
}

header {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #a67b5b;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #3e2723;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid #d6c0aa;
    border-radius: 8px;
}

h2 {
    color: #6f4e37;
    text-align: center;
}

li {
    margin: 10px;
}

footer {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 10px;
}

#promociones {
    background-color: #fce4c7;
    border: 1px solid #a67b5b;
}